body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 100%;
    margin: 0 auto;
}

/* NAVBAR!!!! */

.logo{
    float: left;
    width: 50px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

nav{
    float: left;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 30px;
    padding-top: 30px;
    padding-bottom: 31px;
    position: relative;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    color: black;   
}
nav a::after{
    content: '';
    display: block;
    height: 1px;
    width: 0%;
    background-color: #eb2e2c;
    position: absolute;
    bottom: 5;
    left: 0;  
    transition: all ease-in-out 400ms;
}
nav a:hover::after{
    width: 100%;
}
.right-side{
    float: right;
    padding-right: 20px;
}
.right-list{
    text-transform: none !important;
}
.fas{
    padding-right: 7px;
}
.reorder-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    color:black ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .search-bar{
      background: transparent;
      border: none;
      border-bottom: 1px solid black;
      padding: 10px;
      padding-left: 0;
      outline: none;
      width: 230px;
  }
  .search-bar::placeholder{
      color: black;
      font-family: 'Montserrat', sans-serif;
  }
/* END OF NAVBAR!!!! */

/* HEADER */
.header-container{
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px;
    border-bottom: 1px solid #80808029;
}
.header-btn{
    padding-left: 50px;
    font-size: 14px;
}
.header-btn a{
    text-decoration: none;
    color: black;
}
/* END OF HEADER!!!! */
/* BANNER */
.banner-bar{
    background-color: #B11310;
    margin: 0;
}
.banner-text{
    margin: 0;
    padding: 10px;
    font-size: 11px;
    text-align: center;
    color: white;
}
/* END OF BANNER!! */

